*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:90%;
	margin:auto;
	}
.page1{
	background-image:url("image.1.jpg");
  width:100%;
  height:100vh;
  border:1px solid black;
  background-size:cover;
  background-attachment:fixed;
}
.page1::after{
    content: "";
    background: rgba(0,0, 0, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.page1{
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
}
.my h1{
	font-size:2rem;
	font-weight:500;
}
.my h3{
	font-size:2rem;
}
.my span{
	color:#0563BB;
}
.my iconify-icon{
	line-height:2;
	font-size:1rem;
	padding:0.3rem;
}
.icons{
	display:flex;
	flex-direction:column;
}
/* .icons li{
	list-style:none;
} */

