.page1{
	background-color:#FEF8F5;
	padding-bottom:5rem;
}
.navbar-brand{
	color:#7E6D64;
}
.nav-item{
	font-size:1rem;
}
.top{
	position:sticky;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:1;
}
.nav-link:hover{
	color:#eb5d1!important;
}
.started {
	background-color:#eb5d1e;
	/* margin-top:1rem; */
	color:white;
	border:none;
	padding:0.5rem;
	border-radius:20px;
}
.navbar-brand{
	font-size:2rem;
	}
.head h1{
	padding-top:8rem;
	font-size:3rem;
	color:#4E4039;
}
.btn:hover{
	color:white;
}
.head p{
	font-size:1.5rem;
	color:#797D7F ;
}
.page1 img{
	margin-top:5rem;
	padding-bottom:5rem;
	width:100%;
	position:relative;
	animation:move 3s infinite;
}
@keyframes move{
from{
	top:0px;
	}
to{
	top:40px;
	}
}
.head button{
	background-color:#F3823A ;
	border:none; 
	padding:0.5rem;
	color:white;
	font-size:1.2rem;
}
.page2{
	padding-top:2rem;
	padding-bottom:4.5rem;
}
.page2 img{
	width:100%;
	padding-top:2rem;
}
.page2{
	color:#5a6570;
}
.page2 h1{
	font-size:2rem;
	font-weight:700;
	margin-top:3rem;
	color:#4E4039;
}
.page2 p{
	color:#878F97;
}
.page2 h5{
	color:#7A6960;
}
.recipt{
	font-size:2.5rem;
	color:#F39E7A;
}
/* 2page finish */
.page3{
	background-color:#FEF8F5;
	padding-top:2.5rem;
	padding-bottom:5rem;
}
.service h3{
	color:#D0C6C1;
	text-align:center;
	padding-top:2rem;

}
.service h1{
	color:#4E4039;
	font-size:2rem;
	font-weight:600;
	text-align:center;
}

.service h1::after{
	content:"";
	width:15%;
	height:0.1vh;
	margin:auto;
	margin-top:1rem;
	background-color:#EB5D1E;
	border:1px solid #EB5D1E;
	display:block;
}
@media(min-width:768px){
	.service h1{
	color:#4E4039;
	font-size:2rem;
	font-weight:600;
	text-align:center;
	}

.service h1::after{
	content:"";
	width:10%;
	height:0.1vh;
	margin:auto;
	margin-top:1rem;
	background-color:#EB5D1E;
	border:1px solid #EB5D1E;
	display:block;
	}
}	
@media(min-width:1024px){
	.service h1{
	color:#4E4039;
	font-size:2rem;
	font-weight:600;
	text-align:center;
	}

.service h1::after{
	content:"";
	width:7%;
	height:0.1vh;
	margin:auto;
	margin-top:1rem;
	background-color:#EB5D1E;
	border:1px solid #EB5D1E;
	display:block;
	}
}	
/* fintsh */
.page3{
	text-align:center;
}
.ipsum{
	background-color:white;
	padding:1rem;  
	line-height:2;
	margin-top:1.5rem;
	border-radius:15px;
	border-bottom:3px solid white;
	
}
.ipsum h5{
	cursor:pointer;
}
.ipsum:hover{
	border-bottom:3px solid #eb5d1e;
	transform:translatey(-5px);
	transition:0.3s ease;
	margin-top:15px;
}
	
.ipsum iconify-icon{
	font-size:2.7rem;
	color:#EA9772;
	text-align:center;
	margin-top:2rem;
	}
/* finish */
.page4{
	padding-top:2rem;
	padding-bottom:5rem;
}
.app{
	margin:20px 0px 20px 0px;
	text-align:center;
	padding:0.9rem;
}
.app a{
	text-decoration:none;
	margin-top:3rem;
	padding:0.7rem;
	color:black;
	font-weight:500;
	font-size:1.3rem;
}
.app a:hover{
	color:#eb5d1e;
}
.web img{
	/* margin-top:2rem; */
	width:100%;
	border-radius:10px;
}
.web1{
	width:100%;

}
.web1{
	position:relative;
	margin-top:2rem;
}
.web1::before{
	content:"";
	position:absolute;
	width:0%;
	background-color:#8d808080;
	top:0px;
	right:0px;
	transition:all 0.5s;
	color:white;
	border-radius:10px;
	}
.web1:hover::before{
	width:100%;
	bottom:0px;
}
.cup{
	position:absolute;
	top:0; 
	right:0;
	bottom:0;
	left:0;
	text-align:center;
	padding:0.5rem;
	opacity:0;
	border-radius:10px;
}
.cup:hover{
	opacity:1;
	transition:1s ease;
}
.cup h3{
	font-size:1.7rem;
	color:white;
	line-height:2;
	
}
.cup h5{
	font-size:1.2rem;
	color:white;
}
.appicon{
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	/* padding:10px; */
	gap:0.5rem;
}

.team-play{
	width: 50%;
	margin-left: 60px;
}
.brand{
	display:flex;
}
.appicons{
	height:40px;
	width:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	background-color:white;
	margin-top:5rem; 	
	}
.appicons iconify-icon{
	font-size:2rem;
	color:orange;
}
.appicons:hover{
	color:white;
	background-color:orange;
}
.appicons iconify-icon:hover{
	color:white;
}
/* finish */
.page5{
	margin-top:2rem;
	padding-bottom:5rem;
	background-color:#FEF8F5;
}
.accordion-item{
	background-color:#FEF8F5;
}
.accordion-button{
	background-color:#FEF8F5 !important;
}
.accordion-button:hover{
	color:#c54811;
}
/* finish */
.page6{
	margin-top:2rem;
	padding-bottom:5rem;
}
.team{
	position:relative; 
	width:100%;
	margin-top:1rem;
}
.team:hover .team1{
	opacity:1;
	transition:1s ease;
}
.team1{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	width:100%;
	background-color:#0000006e;
	opacity:0;
	
}
.team1 h3{
color:white;
font-size:1.2rem;
margin-top:15rem;
text-align:center;
}
.team1 p{
color:white;
font-size:1.3rem;
text-align:center;
}
.teamicon iconify-icon{
	color:white;
	font-size:1.3rem;
	padding:0.7rem;
}
.teamicon{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	width:15%;
	background-color:#0000006e;
	opacity:0;
}
.team:hover .teamicon{
	opacity:1;
	transition:1s ease;
}
.team img{
	width:100%;
}
@media(min-width:1024px){

.team1 h3{
color:white;
font-size:1.1rem;
margin-top:9rem;
}
.team1 p{
color:white;
font-size:0.9rem;
text-align:center;
}
.teamicon iconify-icon{
	color:white;
	font-size:1rem;
	padding:0.5rem;
	}
}
/* finish */
.page7{
	width:100%;
	padding-top:2rem;
	padding-bottom:5rem;
	background-color:#FEF8F5;
}
.client img{
	width:100%;
	padding:1rem;
}
/* finish */
.page8{
	padding-top:2rem;
	padding-bottom:5rem;
}
.info{
	width:100%;
	border-bottom:2px solid #eb5d1e;
	border-top:2px solid #eb5d1e;
	padding:2rem;
	margin-top:2rem;
}
.info iconify-icon{
	width:45px;
	height:45px;
	border-radius:50%;
	background-color:#FDF1EC;
	color:#EC6225;
	align-items:center;
	justify-content:center;
	display:flex;
	font-size:1.3rem;
	float:left;
}
.info iconify-icon:hover{
	background-color:#eb5d1e;
	color:white;
}
.info h5{
	font-size:1.3rem;
	font-weight:500;
	color:#7a6960;
	padding:0 0 0 65px;
	margin-bottom:5px;
}
.info p{
	font-size:1rem;
	padding:0 0 0 60px;
	margin-bottom:5px;
	color:#ab9d95;
}
.map iframe{
	width:100%
}
.fname input{
	height:50px;
}
.fname textarea{
	width:100%;
	border:1px solid #ced4da;
}
.fname textarea:hover{
	width:100%;
	border:1px solid skyblue;
}
.formbut button{
	background-color:#eb5d1e;
	padding:10px 20px;
	font-size:1.2rem;
	color:white;
}
.formbut button:hover{
	color:white;
}
/* finish */
.page9{
	padding-top:2rem;
	padding-bottom:2rem;
	background-color:#FEF8F5;
}
.join h1{
	text-align:center;
	color:#4E4039;
	margin-top:3rem;
}
.join p{
	text-align:center;
	margin-top:2rem;
	font-size:1rem;
}
.join {
	text-align:center;
}
.join1 input{
	height:40px;
	width:55%;
	border:none;
	
}
.join1 a{
	text-decoration:none;
	color:white;
	background-color:#eb5d1e;
	padding:10px 20px;
}
.page10{
	padding-top:2rem;
	margin-top:2rem;
   padding-bottom:3rem;
}
.page10 h4{ 
font-size:1.3rem;
font-weight:600;
}
.page10 p{ 
font-size:0.9rem;
line-height:2;
}
	.usefullink ul, li{
	display:block;
	padding:0px;
}
.usefullink{
	padding:0px;
} 
.usefullink h4{
	font-size:1.3rem;
	font-weight:600;
}
.usefullink iconify-icon{
	font-size:15px;
	color:orange;
}
.usefullink a{
	text-decoration:none;
	color:black;
	line-height:2.5;
	font-size:15px;
}
.twitter{
	width:100%;
	display:flex;
	
}
.facebook iconify-icon{
	font-size:20px;
	width:35px;
	height:35px;
	border-radius:50%;
	background-color:#EC692E;
    color: #fff;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:7px;
}
.social h4{
	font-size:1.3rem;
	font-weight:600;
}
.footer{
	background-color:#FEF8F5;
}
.copy{
	padding-bottom:3rem;
	text-align:center;
	}
.copy1{
	
	padding-top:2rem;
	}
	.copy2{
	
	padding-top:2rem;
	}
.copy2 a{
	color:orange;
	text-decoration:none;
}
@media(min-width:768px){
	.copy {
	
	padding-top:2rem;
	padding-bottom:2rem;
	display:flex;
	justify-content:space-between;
	}
.copy2 a{
	color:orange;
	text-decoration:none;
	}
}
@media(min-width:1024px){
	.copy {
	
	padding-top:2rem;
	padding-bottom:2rem;
	display:flex;
	justify-content:space-between;
	}
.copy2 a{
	color:orange;
	text-decoration:none;
	}
}

	
	
	
